<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section-intro">
          <h2>NSTRUCTION SERVICES</h2>
          <p>We aim to five our clients a brief inside into our construction experience, key personnel, and our work culture.</p>
        </div> 
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters flex-row-reverse">
      <div class="col-md-5 bullet-intro">
        <ul>
          <li>Demolition</li>
          <li>Sediment & Erosion Control</li>
          <li>Soil Stabilization</li>
          <li>Site Utilities</li>
          <li>Retaining Walls</li>
          <li>Asphalt & Paving Concrete</li>
          <li>Curb & Gutter</li>
          <li>Landscaping</li>
          <li>Interior Designing of Home & Oﬃces</li>
          <li>Civil Works for Underground Cabling</li>
          <li>Building Renovation & Refurbishment</li>
          <li>Gas & Electrical Work</li>
        </ul>
      </div>
      <div class="col-md-7">
        <img src="../../assets/images/services.jpg" alt="event" class="img-fluid event-img">
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
