<section class="intro-wrapper">
 <div class="container">
   <div class="row">
     <div class="col-12">
      <h1>Hello .</h1>
      <h3>I am so gratifying that you have taken time to consider collaborating with Fixzeo Business Services to serve you. While we are proud of our team, work and results,

        we will help you to achieve….<br>
        
        It is relationship we build that will withstand.
        
        I look forward to working closely with you and your team
        </h3>
        <div class="founder-intro">
          <h4>
            Faisal Rehman
          </h4>
          <h5>Founder & Manager</h5>
        </div>
     </div>
   </div>
 </div>
 <div class="bar"></div>
</section>