.intro-wrapper {
  padding-top: 100px;
  background-color: #404040;

  h1 {
    font-size: 100px;
    color: #73b91d;
  }

  h3 {
    color: #fff;
    font-weight: 700;
    max-width: 700px;
  }

  .founder-intro {
    padding-top: 160px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h4,
    h5 {
      text-align: right;
      color: #fff;
      font-weight: 700;
    }

    h4 {
      font-size: 30px;
      font-style: italic;
      padding-bottom: 5px;
    }

    h5 {
      font-size: 22px;
    }
  }
}
