<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section-intro">
          <h2>FASHION</h2>
        </div> 
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-5 bullet-intro">
        <ul>
          <li>Cosmetics</li>
          <li>Stitched Unstitched</li>
          <li>Clothing for Ladies & gents</li>
          <li>Baby Clothing & Accessories</li>
          <li>Accessories for Ladies & Gents</li>
          <li>Footwear for Ladies & Gents</li>
          <li>Perfume and Ittars Apparel</li>
          <li>Sportswear</li>
          <li>Handbags</li>
          <li>Wallets</li>
          <li>Watches & Jewelry</li>
          <li>Vintage and secondhand</li>
        </ul>
      </div>
      <div class="col-md-7">
        <img src="../../assets/images/fashion.jpg" alt="event" class="img-fluid event-img">
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
