<section class="clients-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Some of our Notable Clients</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-items-center justify-content-center pb-3">
        <img src="../../assets/images/client-1.png" alt="client-1" class="img-fluid">
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center pb-3">
        <img src="../../assets/images/client-3.png" alt="client-1" class="img-fluid">
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center pb-3">
        <img src="../../assets/images/client-2.png" alt="client-1" class="img-fluid">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex align-items-center justify-content-center pb-3">
        <img src="../../assets/images/client-4.png" alt="client-1" class="img-fluid">
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center pb-3">
        <img src="../../assets/images/client-5.png" alt="client-1" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>