<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="img-wrapper pt-4">
          <img src="../../assets/images/team.jpg" alt="team" class="img-fluid">
          <h1>Your Company + Our Team = A Powerful Combination</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
