<section class="about-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <img src="../../assets/images/about-logo.jpg" alt="about-logo" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="about-intro">
          <h4>We are based on service providing in different domains i.e. construction, event management, fashion, IT
            services, and computer technology and we pride ourselves on our quality work, customer satisfaction, and
            deadlines to meet out targets on time. The company has established an excellent reputation in the industry by
            constantly exceeding our customers expectations, our exceptional quality of work and services and the most
            importantly on-time delivery. We are here for the benefit of the community to facilitate, develop, and promote
            knowledge.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="about-bg">
    <img src="../../assets/images/about.jpg.png" alt="about">
  </div>
  <div class="bar"></div>
</section>
