<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section-intro">
          <h2>EVENT MANAGEMENT</h2>
          <p>We design, build, and permit lives Experiences. We understand the intricate World of live Events and our
            team
            of experts Knowledge base is massive. We advise Our clients with Transparency, and an Event's feasibility is
            always kept in line as The project Evolves into a live event.</p>
        </div> 
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-5 bullet-intro">
        <ul>
          <li>Live Event transmission</li>
          <li>Online & SMS invitations</li>
          <li>Invitation cards designing</li>
          <li>Imaginative Catering Services</li>
          <li>Corporate dinners</li>
          <li>Exhibitions</li>
          <li>Seminars</li>
          <li>Conference & Trainings</li>
          <li>Award Ceremonies</li>
          <li>Event Designing</li>
          <li>Photography</li>
        </ul>
      </div>
      <div class="col-md-7">
        <img src="../../assets/images/event.jpg" alt="event" class="img-fluid event-img">
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
