<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="value-title">
          <h2>Our Core Values & Integrity</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="core-value-desc">
          <h3>COMMITTMENT</h3>
          <p>We develop relationships that make a positive diﬀerence in our customers’ lives</p>
        </div>
        <div class="core-value-desc">
          <h3>QUALITY</h3>
          <p>We provide outstanding products and surpassed services that together, deliver premium value to our customers.</p>
        </div>
        <div class="core-value-desc">
          <h3>TEAMWORK</h3>
          <p>To work together, across boundaries to meet the needs of our customers and to help our Business Services win</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="core-value-desc">
          <h3>A WILL TO WIN</h3>
          <p>We exhibit a strong will to win in the marketplace and in every aspect of our business.</p>
        </div>
        <div class="core-value-desc">
          <h3>PERSONAL ACCOUNTIBIITY</h3>
          <p>High level of accountability from ourselves and to our colleagues and values clients.</p>
        </div>
        <div class="core-value-desc">
          <h3>EXPERTISE</h3>
          <p>Due to our culture of compliance, learning and commitment to “doing it” right the first time.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
