<section class="moment-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mission-intro">
          <h1>TRYING<br>
            IS WINNING<br>
            IN THE<br>
            MOMENT
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
