<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section-intro">
          <h2>TECHNOLOGY SOLUTIONS</h2>
          <p>Technology Solutions focus is to provide long-term I.T. partnerships with our clients. Most of our client
            relationships have been for at least five years, many much longer. These long-term relationships allow us to
            understand our client’s unique needs and requirements and provide a high level of service.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-5 bullet-intro">
        <ul>
          <li>Infrastructure Assessments and Deployments</li>
          <li>Server & End User Virtualization</li>
          <li>Server & Storage Planning, Installation</li>
          <li>Migration Network design, implementation, <br>staging and rollout – wired and wireless</li>
          <li>Enterprise Security services,<br> including end-to-end Security Posture, <br>Penetration Testing</li>
          <li>Asset management, prior to or during<br> a Hardware Refresh</li>
          <li>Maintenance Services</li>
          <li>Programming, Troubleshooting & Networking</li>
          <li>Services Designing Website & Maintenance</li>
          <li>Hardware & Software upgrades,<br> Installation & repairing Data</li>
          <li>Recovery & Backup</li>
          <li>Installation & maintenance of CCTV cameras</li>
        </ul>
      </div>
      <div class="col-md-7">
        <img src="../../assets/images/solution.png" alt="event" class="img-fluid event-img">
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
