<section class="mission-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mission-intro">
          <h1>OUR MISSION</h1>
          <p>TO TAKE FULL OWNERSHIP FOR ALL THAT WE DO,
            TO PROTECT THOSE WHO TRUST IN US AND TO MAKE
            LIFELONG CLIENTS FROM EVERY CUSTOMER CONTACT.
            </p>
        </div>
        <div class="mission-intro">
          <h1>OUR VALUES</h1>
          <p>HELP HUMANITY THRIVE BY
            ENABLING ALL TEAMS TO WORK
            TOGETHER EFFORTLESSLY.            
            </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>