<section class="event-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section-intro">
          <h2>OFFICE EQUIPMENT</h2>
          <p>We supply high quality oﬃce supplies, document solutions, and oﬃce furniture facilities management at competitive prices without compromising on value or service.</p>
        </div> 
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters flex-row-reverse">
      <div class="col-md-5 bullet-intro">
        <ul>
          <li>Computers</li>
          <li>Printer or Multipurpose</li>
          <li>Machines</li>
          <li>Telephones or VoIP</li>
          <li>File cabinets</li>
          <li>Designed Biometric Lockers</li>
          <li>Paper Shredders</li>
          <li>Fire-safe Box</li>
          <li>Network Routers</li>
          <li>Stationary</li>
          <li>UPS</li>
          <li>Projectors</li>
          <li>Kitchen or Pantry equipment.</li>
        </ul>
      </div>
      <div class="col-md-7">
        <img src="../../assets/images/office.jpg" alt="event" class="img-fluid event-img">
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
