<section class="goals-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <img src="../../assets/images/goals.jpg" alt="" class="img-fluid">
        <div class="goals-intro">
          <h2>... Our "best fit"</h2>
          <p>We serve clients of all sizes. However, we are particularly well suited to help clients of this type:</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="goals-details">
          <h3>EXPECTATIONS</h3>
          <p>Our services are here to assure high quality and customer satisfaction that exceeds our customer
            expectations.</p>
        </div>
        <div class="goals-details">
          <h3>RESULTS-DRIVEN / GOAL-ORIENTED</h3>
          <p>We tend to work best with companies who are results-driven and are interested in setting real goals and
            meeting objectives.</p>
        </div>
        <div class="goals-details">
          <h3>SKEPTICAL BUT WILLING</h3>
          <p>We communicate key benefits and losses on diﬀerent alternative decisions of the customer.</p>
        </div>
        <div class="goals-details">
          <h3>AGGRESSIVE GOALS</h3>
          <p>The more aggressive you are with your goals, the more excited we get. It’s fun for us to work with
            companies that want to dominate their market.</p>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-end pb-3">
          <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</section>
